In [525]:
import pandas as pd
df= pd.read_csv('/Users/apple/Documents/attt.csv')
df.head()

,Date,Assembly,Hour 0,Hour 1,Hour 2,Hour 3,Hour 4,Hour 5,Hour 6,Hour 7,Hour 8,Hour 9,Hour 10,Hour 11
0,09 Nov 2019,-,NaN,-,P,P,P,P,-,-,P,P,-,NaN
1,08 Nov 2019,P,NaN,-,P,P,P,P,-,-,U,U,-,NaN
2,07 Nov 2019,P,NaN,-,P,P,P,P,-,P,P,-,-,NaN
3,06 Nov 2019,P,NaN,-,P,P,P,P,-,P,-,-,-,NaN
4,05 Nov 2019,-,NaN,-,P,P,P,P,-,-,-,-,-,NaN

In [526]:
df.drop(["Hour 0","Hour 1","Hour 6","Hour 10","Hour 11"],axis=1,inplace=True)

In [527]:
df.tail()

           Date Assembly Hour 2 Hour 3 Hour 4 Hour 5 Hour 7 Hour 8 Hour 9
79  13 Jul 2019        A      P      P      P      -      -      A      A
80  12 Jul 2019        P      P      P      P      P      -      U      U
81  11 Jul 2019        P      P      P      P      P      U      -      -
82  10 Jul 2019        P      P      A      P      U      A      A      -
83  09 Jul 2019        A      -      -      P      P      U      U      -

In [528]:
Dict={'Jul':'July','Aug':'August','Sep':'September','Oct':'October','Nov':'November','Dec':'December'}
string='09 Nov 2019'  
month=string.split(" ")#iterate
print(month[1])
month[1]
month[1]=Dict.get(month[1])
month=" ".join(month)
day=datetime.datetime.strptime(month, '%d %B %Y').strftime('%A')
day

Nov

'Saturday'

In [529]:
def convert(string):
    Dict={'Jul':'July','Aug':'August','Sep':'September','Oct':'October','Nov':'November','Dec':'December'}
    month=string.split()
    month[1]=Dict.get(month[1])
    month=" ".join(month)
    day=datetime.datetime.strptime(month, '%d %B %Y').strftime('%A')
    
    return day
string='09 Nov 2019'  
print(convert(string))

Saturday

In [530]:
array1=[]
array=df['Date'].tolist()
print(convert(array[1]))

Friday

In [531]:
for i in range(0,len(array)):
    array1.append(convert(array[i]))
print(len(array1))
print(len(array))

84
84

In [545]:
df['week']=array1

In [544]:
cc=list(df.iloc[1])
u='U'
niki=[]
for j in range(0,len(array)):
    cc=list(df.iloc[j])
    if u not  in cc:
        niki.append(j)
        
        
        
df.drop(niki)

,Date,Assembly,Hour 2,Hour 3,Hour 4,Hour 5,Hour 7,Hour 8,Hour 9,week
1,08 Nov 2019,P,P,P,P,P,-,U,U,Friday
40,09 Sep 2019,A,P,U,P,P,P,P,P,Monday
54,20 Aug 2019,A,U,P,P,P,P,P,-,Tuesday
62,06 Aug 2019,A,U,P,P,P,P,P,-,Tuesday
63,05 Aug 2019,A,A,A,A,A,U,A,P,Monday
64,02 Aug 2019,P,A,P,P,P,-,P,U,Friday
68,29 Jul 2019,A,P,P,P,P,U,P,P,Monday
71,24 Jul 2019,A,P,P,P,U,P,-,-,Wednesday
72,23 Jul 2019,A,U,P,A,A,A,A,-,Tuesday
73,22 Jul 2019,A,A,P,P,U,U,P,P,Monday
74,19 Jul 2019,P,P,P,P,P,-,A,U,Friday
76,17 Jul 2019,A,A,P,A,U,A,-,-,Wednesday
77,16 Jul 2019,A,U,P,P,P,U,U,P,Tuesday
78,15 Jul 2019,A,P,P,P,U,U,P,P,Monday
80,12 Jul 2019,P,P,P,P,P,-,U,U,Friday
81,11 Jul 2019,P,P,P,P,P,U,-,-,Thursday
82,10 Jul 2019,P,P,A,P,U,A,A,-,Wednesday
83,09 Jul 2019,A,-,-,P,P,U,U,-,Tuesday

In [546]:
df3= pd.read_csv('/Users/apple/Documents/atttt.csv')
df3.head()

,Day,Hour 2,Hour 3,Hour 4,Hour 5,Hour 7,Hour 8,Hour 9
0,Monday,Andrew,Roshni,Karthikeyan,Basil,Shamila,Bijolin,Rajesh ruban
1,Tuesday,Shamila,Tatha,Karthikeyan,Bijolin,Bright,Bright,NaN
2,Wednesday,Bijolin,Radha Krishna,Rajesh ruban,Katharin,Karthikeyan,NaN,NaN
3,Thursday,Andrew,Katharin,Tatha,Andrew,Ketsy,Ketsy,NaN
4,Friday,Tatha,Shamila,Katharin,Rajesh ruban,NaN,Shamila,Shamila

In [548]:
list(df3.iloc[0])

['Monday',
 'Andrew',
 'Roshni',
 'Karthikeyan',
 'Basil',
 'Shamila',
 'Bijolin',
 'Rajesh ruban']